@import "../utils/breakpoints";

.landing {
  line-height: 1.2;
  padding-right: 150px;
  padding-left: 150px;
  padding .preText {
    font-size: 1.5rem;
  }
  .name {
    font-size: 4rem;
    font-weight: 900;
  }
  .postText {
    font-size: 2rem;
    font-weight: 300;
  }
  .longText {
    margin-top: 1rem;
    max-width: 40rem;
    font-size: 1.2rem;
  }

  @include breakpoint-tablet-vertical {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}
