@import "../utils/breakpoints";

.page__shell {
  display: flex;
  flex-flow: row;
  max-width: 100vw;

  @include breakpoint-tablet-vertical {
    flex-flow: column-reverse;
    justify-content: flex-end;
  }
}
